.container {
  height: 50px;
  background-color: orange;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:0 20%;
}

a {
  text-decoration: none;
  font-size: 28px;
  color: black;
}

.active a{
  color:yellow;
}
